body{
	background-image: url(wtf.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #03BCF9;
	height: 100%;

}



.container{
	font-family: 'Raleway', sans-serif;
	font-size: 2.5em;
	display: flex;
	justify-content: center;
	align-self: center;
	width: 100%;
  	top: 150px;
  	position: absolute;
}

.signup{
	width: 100%;
  	left: 0;
  	bottom: 150px;
  	position: absolute;
}